@model Business.SeachTickets_Result

    <tr id="TicketContainer-@Model.TicketNumber">
        <td>
            @Html.DisplayFor(model => model.TicketNumber)
        </td>
        <td>
            @Html.DisplayFor(model => model.Category)
        </td>
        <td>
            @Html.DisplayFor(model => model.AgentName)
        </td>
        <td>
            @Html.DisplayFor(model => model.TicketStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.TicketNumber }, new { @class = "editDialog", random=Model.TicketNumber }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
