@model IEnumerable<Business.TicketsIssued>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TicketNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agent.AgentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketStatu.TicketStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.TicketNumber.ToUpper()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agent.AgentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketStatu.TicketStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TicketNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.TicketNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TicketNumber })
        </td>
    </tr>
}

</table>
