@model IEnumerable<Business.Agent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AgentName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AgentName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AgentCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.AgentCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AgentCode }) |
            @Html.ActionLink("Assign Tickets", "AssignTicket", "Tickets", new { agentCode = item.AgentCode }, null)
        </td>
    </tr>
}

</table>
